.card{
    display: flex;
    flex-direction: row;
}

.card img{
    border-radius: 10px;
    transition: all 0.8s ease;
}

.card img:hover{
    transform: scale(0.95);
    box-shadow: 0 0 10px #222;
}