.footer{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    width: 100%;
    height: 30px;
    background-color: black;
    border-top: 2px solid #ebb512;
}

.footer h2{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}